.features, .comments
{
    margin-bottom: 20px;
}

.features ul, .comments ul
{
    margin: 0;
}

.features .gravatar, .comments .gravatar
{
    padding-left: 10px;
}

.features li, .comments li
{
    list-style-type: none;
}

.features .time, .comments .time
{
    margin-top: 10px;
}

.features .author, .features .author
{
    font-size: 1.1em;
    font-weight: bold;
}

.features .text, .comments .text
{
    font-size: 1.3em;
    padding-bottom: 10px;
}

.options
{
    margin-bottom: 5px;
}

.commit-group-item .gravatar
{
    float: left;
    margin-left: -44px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.commit-group-item .commit-title a
{
    color: #333;
}

.commit .commit-title, .commit .commit-title a
{
    color: #4E575B;
}

.commit-group-item .commit-links
{
    position: absolute;
    top: 7px;
    right: 8px;
}

.commit-group-item .gobutton
{
    float: left;
    height: 22px;
    padding: 0 7px;
    line-height: 22px;
    font-size: 11px;
    color: #4E575B;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #EFF6F9;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eff6f9',endColorstr='#ddecf3');
    background: -webkit-gradient(linear,left top,left bottom,from(#EFF6F9),to(#DDECF3));
    background: -moz-linear-gradient(top,#EFF6F9,#DDECF3);
    border: 1px solid #CEDEE5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-image: initial;
}

.commit-group-item .browse-button
{
    float: right;
    clear: left;
    margin-top: 3px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    color: #999;
    background: url('../../images/modules/commit/mini-go-arrow.png') 100% 5px no-repeat;
}

.commit-group-item .authorship
{
    font-size: 12px;
    color: #888;
}

.commit-group-item .authorship .author-name
{
    color: #444;
}

.commit-group-item:nth-child(2n+1)
{
    background: white;
}
.commit-group-item:first-child
{
    border-top: none;
}
.commit-group-item
{
    position: relative;
    padding: 8px 8px 8px 52px;
    border-top: 1px solid #E2EAEE;
}
#activity-feed ol
{
    list-style-type: none;
    margin: 0 0 15px 0;
    background: #F7FBFC;
    border: 1px solid #C5D5DD;
    border-top: none;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-image: initial;
}
