#container { width: 880px;margin-left: auto;margin-right: auto;}
.brand { background: url('/Resources/logo_small.png') no-repeat;width: 115px;height: 57px;}
.topbar div > ul, .nav { margin: 5px 10px 0 0;}
.topbar form { margin-top: 10px; }
.topbar h3 a, .topbar .brand { padding: 0px;}
.topbar .fill{ background-color:#660000;
               background-repeat:repeat-x;
               background-image:-khtml-gradient(linear, left top, left bottom, from(#400000), to(#660000));
               background-image:-moz-linear-gradient(top, #400000, #660000);
               background-image:-ms-linear-gradient(top, #400000, #660000);
               background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #400000), color-stop(100%, #660000));
               background-image:-webkit-linear-gradient(top, #400000, #660000);
               background-image:-o-linear-gradient(top, #400000, #660000);
               background-image:linear-gradient(top, #400000, #660000);
               filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#400000', endColorstr='#660000', GradientType=0);
               -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
               -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
               box-shadow:0 1px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
.topbar .fill .dropdown-menu  
{
                background-color:#660000;
               background-repeat:repeat-x;
               background-image:-khtml-gradient(linear, left top, left bottom, from(#660000), to(#400000));
               background-image:-moz-linear-gradient(top, #660000, #400000);
               background-image:-ms-linear-gradient(top, #660000, #400000);
               background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #660000), color-stop(100%, #400000));
               background-image:-webkit-linear-gradient(top, #660000, #400000);
               background-image:-o-linear-gradient(top, #660000, #400000);
               background-image:linear-gradient(top, #660000, #400000);
               filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#660000', endColorstr='#400000', GradientType=0);}
textarea {width: 350px;height: 200px;}
label { margin-right: 15px;}
#comments, #ideas { list-style-type: none;margin: 0px;padding: 0px; margin-left:-10px;}
#comments li {margin-left: 0px; margin-bottom: 25px;}

/* Override some defaults */
html, body {
background-color: #eee;
}
body {
padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
text-align: center; /* center align it with the container */
}
.container {
width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
background-color: #fff;
padding: 20px;
margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
margin-top:15px;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
background-color: #f5f5f5;
padding: 20px 20px 10px;
margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
margin-left: 0;
padding-left: 19px;
border-left: 1px solid #eee;
}

.topbar .btn {
border: 0;
}

.sidebox 
{

    width: 85px;
    text-align: center;
   
}
.sidebox .voteinfo {  background: #F3F3F3;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 5px;
    border-radius: 6px;margin: 10px;margin-bottom: 5px;}
.voteinfo h3 { line-height: 1em;}
.sidebox form button { width: 65px;height: 25px;}
.ideaheader { padding-top: 16px;line-height: 1em;}
.ideadate { font-size: 0.8em;text-transform: uppercase;}
.ideadesc {  color: black;}
.hoverheader:hover{ color : #660000;}
.author { font-weight:bolder;}
.gravatar {margin-left:25px;}
.gravatar img {width:40px; height:40px;}
.gravatarsmall img {width:15px; height:15px;}
.activity { margin-right:75px;}
.loggedin { color: White; }
.loggedin img {width:15px; height:15px;}