﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<h3>@Model.Title</h3>
@Model.Description
<form action="/idea/@Model.Id/comment" method="POST">
<div>
    <label for="comment">
        comment</label>
    <input id="comment" name="comment" type="text" /><br />
    <input type="submit" />
</div>
</form>
@if (Model.Activities != null)
{ 
    <ul>
        @foreach (var a in Model.Activities)
        {
            <li>a.Text</li>
        }
    </ul>
}
