@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="span10">
        <h2>Submit a New Idea</h2><br />

        <form action="/idea/new" method="POST">
            <div class="clearfix">
                <label for="Title">Title</label>
                <div class="input">
                    <input id="Title" name="Title" type="text" />
                </div>
            </div>
        
            <div class="clearfix">
                <label for="Description">Description</label>
                <div class="input">
                    <textarea id="Description" name="Description" rows="10"></textarea>
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="btn primary">Submit</button>
            </div>
        </form>
    </div>
    <!-- TODO: partial view? -->
    <div class="span4">
        <h3>Popular Ideas</h3>
        <ul>
            @foreach (var i in Model.Ideas)
            {
                <li>
                    <a href="/idea/@i.Id">@i.Title</a><br />
                    @i.Time
                </li> 
            }
        </ul>
    </div>
</div>
