<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Ideastrike"
      connectionString="Server=dc981ab9-2876-45a0-8aa8-9fe3016029e1.sqlserver.sequelizer.com;Database=dbdc981ab9287645a08aa89fe3016029e1;User ID=gtztrkdfzbpkuiqn;Password=yKunNSLzHmpARKXoADtjfsd25oLdZe4ibDeQBCNEiEkBiNDtox6r8DzfFBrzgGGC; MultipleActiveResultSets=true"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>