<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Ideastrike.Nancy.Models.IdeastrikeContext"
      connectionString="Server=c93e31c7-b014-47f4-a815-9fe00070fbc1.sqlserver.sequelizer.com;Database=dbc93e31c7b01447f4a8159fe00070fbc1;User ID=yjfnbdtzanuoissh;Password=FRnJvguDA4xCeYNLsJ2PHD26LGYvnSzKHbJDnyrYcPehRrZkYjpTZeSbXq7Vp7rR;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>