﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<form action="/idea" method="POST">
    <div>
        <h3>submit a new idea</h3>
        <label for="Title">Title</label>
        <input id="Title" name="Title" type="text" />
        <br />
        
        <label for="Description">Description</label>
        <textarea id="Description" name="Description"></textarea>
        <input type="submit" />
    </div>
</form>
