@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<div class="row">
    <div class="span10">
        <h2>Activity Feed</h2>

        <!-- TODO: Feed -->
    </div>
    <div class="span4">
        <h3>Popular Ideas</h3>
        <ul>
            @foreach (var i in Model)
            {
                <li>
                    <a href="/idea/@i.Id">@i.Title</a><br />
                    @i.Time
                </li> 
            }
        </ul>
    </div>
</div>
