<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/Resources/style.css" rel="Stylesheet" />
    <title>Ideastrike</title>
</head>
<body>
    <div id="container">
        <div id="logo">
        </div>
        @RenderBody()
    </div>
</body>
</html>
