﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Views/Shared/Layout.cshtml";
}

<ul class="pills">
    <li class="active"><a href="/admin/">Admin Home</a></li>
    <li><a href="/admin/settings">Settings</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/moderation">Moderation</a></li>
</ul>
