<script id="admin_template" type="text/x-jquery-tmpl">
    <li style="margin-top:25px;" class="span11">
        <span class="label">{{OldStatus}}</span> &#8594; <span class="label">{{NewStatus}}</span>
    </li>
</script>