<script id="comment_template" type="text/x-jquery-tmpl">
    <li style="margin-top:25px;" class="span11">
        <div class="pull-right gravatar"><img src="{{GravatarUrl}}" />
        <!--
            <div class="ideadate">author</div>
        -->
        </div>
        <div class="activity">{{{ Text }}}</div>
        <div><a href=""><span class="author">{{Author}}</span></a> <span class="ideadate">{{FriendlyTime}}</span></div>
                    
        <div class="clearfix"> </div>
        <div class="comment">
            <!-- TODO: reply to an activity -->
        </div>
    </li>
</script>