<script id="github_template" type="text/x-jquery-tmpl"> 
    <li class="commit commit-group-item js-navigation-item js-details-container span11">
        <div style="font-family:monospace;">
            <a href="{{CommitUrl}}">{{ShaShortened}}</a>
            <img class="gravatar" height="15" width="15" src="{{GravatarUrl}}" />
        </div>
        <div class="commit-title pull-left"><a href="{{CommitUrl}}" class="message">{{{Text}}}</a></div>
        <div class="clearfix"> </div>
        <div class="authorship">
		    <span class="author-name"><a href="{{AuthorUrl}}">{{AuthorName}}</a></span>&nbsp;authored&nbsp;<time class="js-relative-date">{{FriendlyTime}}</time>
		</div>
    </li>
</script>